<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <Resource  name="RESOURCE_NAME" 
			auth="Container"
			type="javax.sql.DataSource"
			maxIdle="30"
			maxActive="100"
			maxWait="10000"
			username="APP_DB_USER"
			password="APP_DB_PASSWORD"
			driverClassName="com.mysql.jdbc.Driver"
			url="jdbc:mysql://APP_DB_HOST:APP_DB_PORT/APP_DATABASE?useSSL=false"
			testWhileIdle="true"  />

</Context>


